.auth_P {
  width: 100%;
  height: 100vh;
  background-color: var(--cl_2);
  display: flex;
  align-items: center;
  padding: 5rem;
  .b_logo {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.1rem solid var(--white);
    img {
      width: 80%;
      height: fit-content;
    }
  }
  .form_login {
    padding: 0 2rem;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    .tilte {
      font-size: var(--fz_title);

      font-weight: 800;
    }
    .description {
      font-weight: 800;
      padding-bottom: 2rem;
      font-size: var(--fz_small);
    }
    .form_group {
      padding: 1rem 0;
      width: 70%;
      .b_item {
        width: 100%;

        display: flex;
        align-items: center;
        gap: 0.5rem;
        .icon_input {
          width: 3rem;
          display: flex;
          justify-content: center;
          background-color: var(--cl_3);
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: var(--fz_medium);
          color: var(--white);
          background-color: var(--cl_2);
          border: 0.2rem ridge var(--cl_2);
        }
        input {
          width: calc(100% - 3rem);
          height: 3rem;
          font-size: 1rem;
          padding: 1rem;
          outline: none;
          border: none;
          border: 0.1rem solid red;
        }
      }
      .b_item_pw {
        width: 100%;

        display: flex;
        align-items: center;
        gap: 0.5rem;
        .icon_input {
          width: 3rem;
          display: flex;
          justify-content: center;
          background-color: var(--cl_3);
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: var(--fz_medium);
          color: var(--cl_2);

          color: var(--white);
          background-color: var(--cl_2);
          border: 0.2rem ridge var(--cl_2);
        }
        .b_input {
          width: calc(100% - 3rem);
          position: relative;
          input {
            width: 100%;
            font-size: 1rem;
            padding: 1rem;
            outline: none;
            border: none;
            height: 3rem;
          }
          i {
            position: absolute;
            right: 0;
            top: 50%;
            color: var(--black);
            transform: translate(-50%, -50%);
            cursor: pointer;
          }
        }
      }
      .error {
        color: red;
        font-size: var(--fz_smallmax);
        padding-left: calc(3rem + 0.5rem);
      }
    }
    .btn_submit {
      width: 70%;
      padding: 0.5rem;
      background-color: var(--cl_4);
      outline: none;
      border: none;
      cursor: pointer;
      color: var(--white);
      font-weight: 800;
    }
    .link_tag {
      padding: 0.5rem 0;
      color: var(--white);
      p {
        font-size: var(--fz_smallmax);
      }
    }
  }
}
