@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  scrollbar-width: none;
  margin: 0;
  font-size: 1rem;

  font-family: "Nunito Sans", sans-serif;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  scroll-behavior: smooth;
  font-weight: 500;
  //render font chữ
  text-rendering: optimizeLegibility;
  // -webkit-user-select: none; /* Safari */
  // -moz-user-select: none; /* Firefox */
  // -ms-user-select: none; /* Internet Explorer/Edge */
  // user-select: none; /* Standard syntax */
}

:root {
  --cl_1: rgb(232, 242, 247);
  --cl_3: rgb(0, 209, 250);
  --cl_2: rgb(0, 53, 83);
  --cl_4: orange;
  --white: white;
  --black: black;
  --gray: rgba(106, 106, 106, 0.728);
  --fz_medium: 1.3rem;
  --fz_large: 1.6rem;
  --fz_max: 2rem;
  --fz_small: 0.9rem;
  --fz_smallmax: 0.8rem;
  --mw: 1080px;
  --fz_title: 2.7rem;
  --shadow-black: rgba(65, 65, 65, 0.305);
  --shadow-white: rgba(255, 255, 255, 0.402);
}

body {
  width: 100%;
  scrollbar-width: none;
  background-color: var(--cl_1);
}

button {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
button:hover {
  transform: scale(1.05);
}
button:active {
  transform: scale(0.98);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.link_tag {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  width: fit-content;
}

/*-----------------------------------------------*/
/* Cho các trình duyệt WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0.4rem;
  /* Chiều rộng của thanh cuộn */
}

::-webkit-scrollbar-track {
  background: var(--cl_2);
  /* Màu nền của phần track */
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, var(--cl_2), var(--cl_1));
  /* Màu của thanh cuộn */
  //border-radius: 6px;
  // border: 0.01rem solid black;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom, var(--cl_2), white);
  /* Màu của thanh cuộn */
}

/* Cho Firefox */
/* Note: `scrollbar-width` chỉ hỗ trợ từ Firefox 64 trở lên */
body {
  scrollbar-width: thin;
  /* thin, auto, or none */
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  display: none;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
